*{
    box-sizing:border-box;
    margin:auto;
    padding: auto;
    font-family:'poppins',sans-serif;
}
body{
    background:#161623;
  display:flex;
  justify-content:center;
  align-items: center;
   min-height: 100vh;
}

body::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#f00,#f0f);
    clip-path:circle( 20% at 100% 10%);
}
body::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#2196f3,#e91e63);
    clip-path:circle(20% at 0% 10%);
}




.top{
    width:100%;
    background-color:#2196f3;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px;
    text-align: right;
}
.top div{
    width:1200px;
    color:#fff;
    background-color: #2FA5EB;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px;
    text-align:right;


}


.logo{
    width:100%;
    background-color: none;
    border-bottom:2px solid #f0f0f0;

}

.logo div{
    width:1200px;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    text-align:left;
}

.logo div table a{
    padding:10px;
    text-decoration: none;
    color:gray;

}
.logo div table a:hover{
    color:#428bca;
    border-bottom:2px solid #f0f0f0;
}

.bottom{
    width:1200px;
    color:#fff;
    background-color:none;
    font-family:Arial, Helvetica, sans-serif;
    text-align:right;

}

.bottom div{
    width:1200px;
    color:#fff;
    background-color:none;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;

}

.bottom div table{
    padding-top:30px;
    width:1100px;
    text-align:justify;
    color :gray;
    font-size:20px;
}

.bottom_up{
    width:100%;
    background-color: none;
    border-bottom:2px solid #f0f0f0;

}
.bottom_up div{
    padding-top: 20px;
    width:1200px;
    text-align:center;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:20px;
}

.bottom_up div table{
    padding-top:30px;
    font-size:30px;
    width:1100px;
    background-color:none;
    font-family:Arial, Helvetica, sans-serif;
}

input[type="text"]{
    padding:12px;
    width: 250px;
}
select{
    padding:12px;
    width:550px;

}

button{
    width:550px;
    padding:10px;
    color:#fff;
    font-size:20px;
    background-color:#2FA5EB;
}
.nav_down{
    width:100%;
    background-color:#2FA5EB;
    border-bottom:2px solid #f0f0f0;
}

.nav_down div{
    width:1200px;
    color:#fff;
    background-color:#000;
    font-family:calibri;
    padding:10px;
    text-align:left;

}
.kk{
    padding:10px;
    padding: top 10%;
}
.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;

}
.v-252{
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;

}
.qw{
    display:flex;
    flex: right;
    width:12%;
    height: 14%;
    flex-wrap:wrap;
    z-index: wrap;


}

.logo_p{
    display: block;
    width:215px;
    vertical-align:middle;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-top-source: initial;
    border-top-slice: initial;
    border-top-outset: initial;
    border-top-repeat: initial;
    outline: auto;
    outline-color:initial ;
    outline-style:none;
    outline-width:initial;
    box-sizing: border-box;

}
.op{
    float: right;
}
/*http://www.cityhospitalkangra.com/images/bg-img2.png*/

.facilitie-sec{
    background-image: url( http://www.cityhospitalkangra.com/images/bg-img2.png);
    background-position-x:left;
    background-position-y:top;
    background-size:cover;
    background-repeat-x:no-repeat;
    
    background-repeat-y:no-repeat;
    background-attachement:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:initial;
    color:rgb(77, 37, 37);/*text color*/
    position:relative;
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 70px; 
    padding-left: 0px;
    display:block;
    outline: none;
    outline-color: initial;
    outline-style:initial;
    outline-width:initial;
    box-sizing:border-box;
    
}
.facilitie-sec h3{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
}

.facilitie-sec article ul{
    margin-top: 480px;
    padding:0px;
    margin:0px;
    outline:none;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.facilitie-sec article ul li{
    width:100%;
    float:left;
    list-style:none;
    outline:none;
    box-sizing: border-box;
    display:list-item;
    text-align: -webkit-match-parent;
}
.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index: wrap;

}

.container .card{
    position:relative;
    width: 280px;
    height:400px;
    margin:30px;
     
    border-radius:15px;
    background:rgba(255, 255, 255, 0.1);
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);

}

.container .card .content{
    padding:20px;
    text-align: center;
    transition: 0.5s;

}


.container .card .content h2{
    position:absolute;
    top:-80px;
    right:30px;
    font-size: 8em;
    color:rgba(255,255,255,0.05);
    pointer-events: none;
}
.container .card .content h3{
    font-size:1.8em;
    color:#fff;
    z-index:1;
}

.container .card .content p{

    font-size:1em;
    color:#fff;
    font-weight:300;

}
.container .card .content a{

    position:relative;
    display:inline-block;
    padding:8px 20px;
    margin-top:15px;
    background : #fff;
    color:#000;
    border-radius :20px;
    text-decoration:none;
    font-weight:500;
    

}
.bn{
    padding-left: 45px;
    align-items: center;
    padding-right: 500%;
    padding-top: 45%;
}

footer{
background-color: #333;
padding: 50px;
font-size: 80%;
}
.footer-nav{
list-style:none;
float: left;
}
.social-links{
float: right;
list-style: none;
}
.footer-nav li,
.social-links li{
display: inline-block;
margin-right: 20px;
}
.social-links li a:link,
.social-links li a:visited{
font-size: 160%;
}
.footer-nav li:last-child,
.social-links li:last-child{
margin-right:0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
text-decoration: none;
border:0;
color: #888888;
-webkit-transition: 0.2s;
transition: 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
color:#ddd;
}
.icon-facebook,
.icon-instagram,
.icon-twitter,
.icon-googleplus{
-webkit-transition: 0.2s;
transition: 0.2s;
}
.icon-facebook:hover{
color: #3b5998;
}
.icon-twitter:hover{
color: #00aced;
}
.icon-googleplus:hover{
color:#dd4b39;
}
.icon-instagram:hover{
color:#517fa4;
}
footer p{
color:#888;
text-align: center;
margin-top:20px;
}

.inner-layer{
position: absolute;
width: 100%;
height:100%;
background-color: rgba(0,147,173,0.7);
overflow: auto;
width: 100%;
height:100%;
overflow: hidden;
background-image: url(../images/background.jpg);
}


.search-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#c4cedd;
    height: 40px;
    border-radius: 40px;
    padding:10px;
}
.search-box:hover > .search-txt{
    width:240px;
    padding:0 6px;
}
.search-box:hover > .search-btn{
   background:white;
}
.search-btn{
    color:#e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cbdbf1;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline:none;
    float:left;
    padding:0;
    color:white;
    font-size:16px;
    transition:0.4s;
    line-height: 40px;
    width: 0px;
}
/*contact us*/


section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
}

section .container{
    position: absolute;
    min-width: 1100px;
    min-height: 550px;
    display: inline-flex;
    z-index: 1000;
    align-items: left;

}

section .container .contactinfo{
    position: absolute;
    top:40px;
    width: 350px;
    height:calc(100%-80px);
    background:linear-gradient(rgb(214, 31, 31),rgb(136, 6, 136));
    z-index:1;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    box-shadow:0 20px 20px rgba(0, 0, 0, 0.2);
    }

    section .container .contactinfo h2
    {
        color:aliceblue;
        font-size:24px;
        font-weight:500;
    }

    section .container .contactinfo .info
    {
        position: relative;
        margin:20px 0;
    }

    section .container .contactinfo .info li{
        position:relative;
        list-style: none;
        display:flex;
        margin:  20px 0;
        cursor:pointer;
        align-items:flex-start;
    }

    section .container .contactinfo .info li span:nth-child(1)
    {
        width:30px;
        min-width: 30px;
    }

    section .container .contactinfo .info  li span:nth-child(1) img
    {
        max-width: 100%;
        filter:invert(1);
        opacity:0.5;


    }

    section .container .contactinfo .info  li span:nth-child(2)
    {
        color:#fff;
        margin-left: 10px;
        font-weight:300;
        opacity:0.5;
    }



    section .container .contactinfo .info  li:hover span:nth-child(1) img,
    section .container .contactinfo .info  li:hover span:nth-child(2)
    {
        opacity: 1;
    }

    section .container .contactinfo .sci{
        position:relative;
        display:flex;
    }

    section .container .contactinfo .sci li
    {
        list-style: none;
        margin-right:15px;
    }


    section .container .contactinfo .sci li a{
        text-decoration: none;
    }

    section .container .contactinfo .sci li a img{
        filter:invert(1);
        opacity: 0.5;
    }

    section .container .contactinfo .sci li:hover a img
    {
        opacity:1;
    }

    section .container .contactform
    {
        position:relative;
        padding:70px 50px;
        background: #fff;
        margin-left :150px;  
        padding-left: 250px;
        width:calc(100% -150px);
        height:100%;
        box-shadow: 0 50px 50px rgba(0,0,0,0.5);
        
         
        
      
         
    }
    
    section .container .contactform h2
    {
        color:#2196f3;
        font-size:24px;
        font-weight:500;

    }

    section .container .contactform .formBox
    {
        position: relative;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        padding-top: 30px;

    }

    section .container .contactform .formBox  .inputBox
    {
        position:relative;
        margin:0 0 35px 0;
    }

    section .container .contactform .formBox  .inputBox.w50
    {
        width:47%;
    }
    section .container .contactform .formBox  .inputBox.w100
    {
        width:100%;
    }

    /*about*/
    div.main{
        width: 400px;
        margin:100px auto 0px auto;
    }
    h4{
        text-align: center;
        padding:20px;
        font-family:sans-serif;
    }

    div.register{
        background: linear-gradient(#079b62,#e91e63);
        width:100%;
        font-size:18px;
        border-radius :10px;

    }
    form#register{
        margin:50px;
    }

     
     